::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #334feb;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #516fdb;
}